.navbar {
    margin-top:0; }
.mar{
    margin-top: 3%;
    margin-bottom: 3%;
}
li a b{
    font-weight: bold;
    font-size: 28px;
}
body{
    /* background-image: url('images/bg.png'); */
    background-color: white;
}
.add button a{
    color: white;
    font-weight: normal;
}
h1{
    
    left: 45vh;
    margin: 3%;
    margin-left: 5%;
}
.button-add
{
    margin: 5px;
    margin-left: 25px;
}
.back-btn{
    margin: 5px;
    margin-left: 15px;
}
.dance{
    font-family: 'Courgette', cursive;

}
.fre{
    font-family: 'Fredoka One', cursive;
}
.pad{
    margin-left: 20px;
    margin-right: 20px;
}
.list-name{
    color: navy;
    font-size: 22px;
}
.head-text{
    font-size: 20px;
}
.muli{
    font-family: 'Muli', sans-serif;
}
.pd_logout{
    padding-left: 14em;
}
.pdr{
    padding-right: 4em;
}
.pdl{
    padding-left: 3em;

}
.pd_studentgrade{
    padding-left: 65px;
}
.pd_contact{
    padding-left: 6em;
}
.secondterm_pad{
    padding-left: 6em;
}
.thirdterm_pad{
    padding-left: 13em;
}
.hd{
    background-color: #195637; 
    color: white;
    width: 100%;
    left: 15vh;
    padding: 10px 20px;
    font-size: 16px;
}
.bg-forcard{
    background-color: #dee2e6;
}
u {    
    border-bottom: 2px dotted gray;
    text-decoration: none;
}
.rotate {
    transform: rotate(90deg);
    text-align: center;
    margin-top: 40px;
}    
.btn-height{
    height: 48px;
}
/* Scroll */
.scroll {
width: 100px;
height: 100px;

    animation: move 1s infinite alternate;
}

@keyframes move {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(20px);
    }
}
.scrolled{
    max-height: 490px;
    overflow-y: auto;
    overflow-x: hidden;
}
.detail_table{
    height: 109px;
}
.table_bg{
    background-image: url('images/logo.jpg');
    background-repeat: no-repeat;
    background-position: center; 
}
.login_bg{
    background-image: url('images/blur.jpg');
    
    color: gray;
}
.login_bg a{
    color: cornflowerblue;
}
.sign_up{
    color: cornflowerblue !important;
}
.nav_bg{
    background-color: #195637;
}
.bg_green{
    background-color: #195637;
    color: white;
}
.footer_css{
    padding-inline-start: 20px;
    height: 55px;
}

.btn_grade { 
    background-color: #195637;
    color: white!important;
    text-decoration: none!important;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }
 .pt_10{
    padding-top: 10px;
 }
 .pb_10{
     padding-bottom: 10px;
 }
 .pt_6{
    padding-top: 6px;
 }
 .pl_37{
    padding-left: 37px;
 }
 .pl_10{
     padding-left: 10px;
 }
 .pr_10{
    padding-right: 10px;
 }
.pr_delete{
    padding-right: 25px !important;
}
.category_list{
    font-size: 15px;
}
.pb_14{
    padding-bottom: 14px;
}
.pl_18{
    padding-left: 18%;
}
.pl_25{
    padding-left: 25px;
}
.mtb_80{
    margin-bottom: 80px;
    margin-top: 80px;
    width: 100%;
}
.easy_size{
    width: 100px;
    height: 100px;
}
.carausal_css{
    width: 350px; 
    height: 180px; 

}
#nav .menu-trigger{
    display: none;
}
.nav-expanded{
	display: none;	
}
.iframe_size{
    width: 600px; 
    height: 600px;
}
.logout_font{
    margin: 3%;
    font-size: 32px;
}
.logo_left{
    left: -18vh;
}
.search_class_font{
  
    font-size: 30px;
}
.carausal_size{
    width: 350px; 
    height: 180px; 
    margin-left: 2px; 
    margin-right: 2px;
}
.finalbtn_pad{
    margin-right: 43px;
}
.terminal_pad{
    margin-right: 16em;
}
.final_logo{
    width: 200px;
    height: 200px;
}
.carausal_imgsize{
    width: 350px; 
    height: 190px;
}
.mg_5{
    margin-left: 5px;
    margin-right: 5px;
}
.login_size{
    height: 500px; 
    width: 300px;
}



/* Responsiveness Start */
@media(max-width: 425px) { 
    #nav, #footer, #alert{
        width: 425px !important;
    }
    h1{
        font-size: 22px !important;
    }
    h2{
        font-size: 20px !important;
    }
    h3{
        font-size: 18px !important;
    }
    h4{
        font-size: 16px !important;
    }
    td, th{
        font-size: 12px !important;
    }
   
    .scroll{
        display: none;
    }
    .pb_14{
        padding: 0%;
    }
    .display_carausal{
        display: none;
    }
    .easy_size{
        width: 50px !important;
        height: 50px !important;
    }
    .easy_parafont{
        font-size: 12px;
    }
    .easy_headfont{
        font-size: 16px;
    }
    .list-name{
        font-size: 15px;
    }
    .head-text{
        font-size: 15px;
    } 
    .mob_pad{
        padding-left: 5px;
    }
    .mr_0{
        margin-right: 0;
    }
  .width_400{
        width: 400px;
    }  
    .width_415{
        width: 415px !important;
    }
.menu-trigger{
    display: block;
}
.bgbutton{
	background-color: #FED136;
	color: white;
	width: 105px;
	height: 38px;
    font-size: 16px !important;
}
.pading_nav{
 padding: 0px !important;
}
.input_font{
    font-size: 25px !important;
}
.iframe_size{
    width: 400px !important;
    height: 400px !important;
}
.logout_font{
    margin: 3%;
    font-size: 20px;
}
.logo_left{
    left: 3vh;
}
.search_class{
    display: none;
}
.class_table{
    font-size: 12px;
}
.position{
    left: 5vh !important;
}
.button_size{
    font-size: 12px;
    height: 36px
}
.finalbtn_pad{
    margin-right: 6em !important;
}
.terminal_pad{
    margin-right: 3.4em;
}
.detail_table{
    height: 55px;
}
.final_logo{
    width: 100px !important;
    height: 100px !important;
}
.logo_width{
    width: 120px !important;
}
.examination_width{
    width: 305px !important;
}
.pl_18{
    padding-left: 8%;
}
.pr_18{
    padding-right: 18px;
}
.pl_25{
    padding-left: 25px;
}
.secondterm_pad{
    padding-left: 2em;
}
.thirdterm_pad{
    padding-left: 4em;
}
.font_12{
    font-size: 12px;
}
.font_18px{
    font-size: 18px;
}
.login_size{
    height: 500px; 
    width: 400px !important;
}
.left_pos{
    left: 3vh;
}
.font_32{
    font-size: 19px !important;
}

}
@media(max-width: 768px){ 
    #nav, #footer, #alert{
        width: 768px;
    }
    .pdr{
        padding-right: none !important;
    }
    .pdl{
        padding-left: none !important;
    
    }
    .menu-trigger{
        display: block;
    }

    .scroll{
        display: none;
    }
    .pading_nav{
        padding: 0px !important;
       }
    .width_768{
        width: 768px;
    }
    .easy_size{
        width: 70px;
        height: 70px;
    }
    .iframe_size{
        width: 690px;
        height: 600px;
    }
    .logo_left{
        left: -4vh;
    }
    .terminal_pad{
        margin-right: 4em;
    }
    .secondterm_pad{
        padding-left: none;
    }
    .thirdterm_pad{
        padding-left: none;
    }
    .detail_table{
        height: 50px;
    }
    .button_size{
        font-size: 14px;
        height: 36px
    }
    .finalbtn_pad{
        margin-right: 27em;
    }
    .font_32{
        font-size: 32px;
    }
    .final_logo{
        width: 150px;
        height: 150px;
    }
    .bgbutton{
        background-color: #FED136 !important;
        color: white !important;
        width: 105px;
        height: 38px;
        font-size: 16px;
    }
    .carausal_imgsize{
        width: 218px; 
        height: 160px;
    }
    .carausal_position{
        left: 5vh;
    }

}


@media(max-width: 1024px) and (min-width:769px){ 
    .menu-trigger{
        display: none;
    }
    .nav-expanded{
        display: none;	
    }
    .scroll {
        width: 65px;
        height: 65px;
        
            animation: move 1s infinite alternate;
        }
        .easy_size{
            width: 80px;
            height: 80px;
        }
        .list-name{
            font-size: 18px;
        }
        .head-text{
            font-size: 18px;
        }
        .logo_left{
            left: -4vh;
        }
        .iframe_size{
            width: 550px; 
            height: 600px;
        }
        .carausal_imgsize{
            width: 290px; 
            height: 175px;
        }
        .pdr{
            padding-right: 1em;
        }
        .pdl{
            padding-left: 1em;
        
        }
        .pd_contact{
            padding-left: 4em;
        }
        .pd_logout{
            padding-left: 8em;
        }
        .pd_studentgrade{
            padding-left: 65px;
        }
        .carausal_position{
            left: 7vh;
        }

}
