.navbar {
    margin-top:0; }
.mar{
    margin-top: 3%;
}
li a b{
    font-weight: bold;
    font-size: 28px;
}
body{
    background-color: url('images/bg.png');
}

.add button a{
    color: white;
    font-weight: normal;
}
h1{
    
    left: 45vh;
    margin: 3%;
    margin-left: 5%;
}
.button-add
{
    margin: 5px;
    margin-left: 25px;
}
.back-btn{
    margin: 5px;
    margin-left: 15px;
}
.dance{
    font-family: 'Courgette', cursive;

}
.fre{
    font-family: 'Fredoka One', cursive;
}
.pad{
    margin-left: 20px;
    margin-right: 20px;
}
.list-name{
    color: navy;
    font-size: 22px;
}
.head-text{
    font-size: 26px;
}
.muli{
    font-family: 'Muli', sans-serif;
}
.pd{
    padding-left: 8em;
}
.pdr{
    padding-right: 10em;
}
.pdl{
    padding-left: 10em;

}