<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Marksheet</title>
    <link rel="stylesheet" type="text/css" href="D:\djangoproject\Project\student\studentinfo\templates\pdfolder\pdf.css" />
    <link rel="stylesheet" type="text/css" href="D:\djangoproject\Project\student\studentinfo\templates\pdfolder\bootstrap.css" />

</head>

<body>
    <div class="container">
        <div>
            <table>
                <tr>
                    <td style="width: 30%">
                        <img src="file:\\\D:\djangoproject\\Project\\student\\studentinfo\\static\\images\\logo1.png"
                            class="logosize" />
                    </td>
                    <td style="width: 70%">
                        <h1><b>Examination Board of Nepal</b></h1>
                        <p style="padding-left: 75px;">(Afflicated to Education Board of Nepal)</p>
                    </td>
                </tr>

            </table>
        </div>
        <div>
            <h2><b>Mark-Sheet</b></h2>
        </div>
        <div class="card">
           
            <div class="list-group">
                <p><b>Marks secured by </b><u>{{ final.student }}</u></p>
                <p><b>Roll no </b><u>{{ info.roll }}</u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Grade </b><u>10</u></p>
                <p><b>School </b><u>ABC Higher Secondary School, Nayabazar, Kathmandu</u></p>
                <p><b>Batch of </b><u>{{ info.batch_no }}</u></p>
               
            </div>
            <div>
            <table class="table table_bg" background="D:\djangoproject\Project\student\studentinfo\static\images\logotrans.png">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Full Marks</th>
                        <th>Pass Marks</th>
                        <th>Final Result</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                   
                    <tr>
                        <td>English</td>
                        <td>100</td>
                        <td>40</td>
                        <td>{{ final.final_english }}</td>
                        <td rowspan="11">
                            <p class="rotate">{{ final.final_remarks }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Science</td>
                        <td>100</td>
                        <td>40</td>
                        <td>{{ final.final_science }}</td>
                        
                    </tr>
                    <tr>
                        <td>Maths</td>
                        <td>100</td>
                        <td>40</td>
                        <td>{{ final.final_maths }}</td>
                        
                    </tr>
                    <tr>
                        <td>Nepali</td>
                        <td>100</td>
                        <td>40</td>
                        <td>{{ final.final_nepali }}</td>
                        
                    </tr>
                    <tr>
                        <td>Computer</td>
                        <td>100</td>
                        <td>40</td>
                        <td>{{ final.final_computer }}</td>
                        
                    </tr>
                    <tr>
                        <td>Social</td>
                        <td>100</td>
                        <td>40</td>
                        <td>{{ final.final_social}}</td>
                        
                    </tr>
                    <tr>
                        <td>Account</td>
                        <td>100</td>
                        <td>40</td>
                        <td>{{ final.final_account }}</td>
                        
                    </tr>
                    <tr>
                        <td>Eph</td>
                        <td>100</td>
                        <td>40</td>
                        <td>{{ final.final_eph }}</td>
                        
                    </tr>
                    <tr>
                        <td>Grand total</td>
                        <td>800</td>
                        <td>320</td>
                        <td>
                            {{ final.final_total }}
                        </td>
                        
                    </tr>
                    <tr>
                        <td>Percentage</td>
                        <td>100%</td>
                        <td>40%</td>
                        <td>
                            {{ final.final_percent }}%
                        </td>
                        
                    </tr>
                    <tr>
                        <td>Grade</td>
                        <td>---</td>
                        <td>---</td>
                        {% if final.final_percent >= 80 %}
                        <td>A+</td>
                        {% elif final.final_percent >= 65 %}
                        <td>A</td>
                        {% elif final.final_percent >= 55 %}
                        <td>B</td>
                        {% elif final.final_percent >= 40 %}
                        <td>C</td>
                        {% else %}
                        <td>D</td>
                        {% endif %}
                        
                    </tr>
                   
                </tbody>
            </table></div>
        </div><br><br>
        <div>
            <table>
                <tr>
                    <td>_________________</td>
                    <td style="padding-left: 120px;">_________________</td>
                </tr>
                <tr>
                    <td style="padding-left: 10px;">Checked By</td>
                    <td style="padding-left: 135px;">Principal</td>
                </tr>
            </table>
        </div><br>
        <div>
            <b>Date&emsp;</b>{% now "jS F Y" %}
        </div>
        <div>
            <table>
                <tr>
                    <td><b>A+&emsp; = &emsp;</b>Distinction</td>
                    <td style="padding-left: 120px;"><b>C&ensp;&emsp; = &emsp;</b>3rd division</td>
                </tr>
                <tr>
                    <td><b>A&ensp;&emsp; = &emsp;</b>1st division</td>
                    <td style="padding-left: 120px;"><b>D and asterisk (*)&emsp;Fail</b></td>
                </tr>
                <tr>
                    <td><b>B&ensp;&emsp; = &emsp;</b>2nd division</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>