<!doctype html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="https://fonts.googleapis.com/css?family=Courgette|Montserrat:300,400,700|Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800&display=swap"
    rel="stylesheet">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Muli|Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat:300,400,700|Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  {% block extends_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'csstyle.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'tab.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'carausal.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap-grid.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/font-awesome.min.css' %}" />
  {% endblock extends_css %}
  {% csrf_token %}
  <title>Student Info</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg nav_bg navbar-dark" id="#nav">
    
    <!-- Brand/logo -->
    <a class="navbar-brand nav-link " href="{% url 'index' %}"><i class="fa fa-home" aria-hidden="true"></i></a>
    <button class="menu-trigger navbar-toggler btn btn-sm bgbutton muli" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><i class="fa fa-bars" aria-hidden="true"> MENU</i></button>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">

      {% if request.user.is_authenticated %}
   <li class="nav-item pdr pdl pading_nav">


        <a class="nav-link" href="{% url 'add' %}"><i class="fa fa-plus" aria-hidden="true"> Add Student</i></a>
      </li>   
      <li class="nav-item pdr pdl pading_nav">
          <a class="nav-link" href="{% url 'category' %}"><i class="fa fa-search" aria-hidden="true"> Search By Class</i></i></a>
        </li>  {% endif %}
      <li class="nav-link active muli pading_nav pd_studentgrade"><b>Student Grading System</b></li>

      <li class="nav-item pdr pdl pading_nav pd_contact">
        <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-phone-square" aria-hidden="true"> Contact Us</i>
        </a>
      </li>
      <li class="nav-item pd_logout pading_nav">
        {% if request.user.is_authenticated %}
        <a class="nav-link" href="{% url 'account_logout' %}"><i class="fa fa-sign-out" aria-hidden="true">
            Logout</i></a>
        {% else %}
        <a class="nav-link" href="{% url 'account_login' %}"><i class="fa fa-sign-out" aria-hidden="true"> Login</i></a>
        {% endif %}
      </li>

    </ul></div>
  </nav>


  {% block content %}

  {% endblock %}
  <script>
  		jQuery(document).ready(function () {
			jQuery(".menu-trigger").click(function () {
				jQuery(".nav-menu").slideToggle(function () {
					jQuery(this).toggleClass("nav-expanded");
				});
			})
		})</script>
</body>

</html>