<!doctype html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- jQuery !-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
  <!-- jQuery UI !-->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link
    href="https://fonts.googleapis.com/css?family=Courgette|Montserrat:300,400,700|Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800&display=swap"
    rel="stylesheet">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Muli|Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat:300,400,700|Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800&display=swap"
    rel="stylesheet">
  {% block extends_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'csstyle.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'tab.css' %}" />
  {% endblock extends_css %}
  <title>Student Info</title>
</head>

<body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand nav-link " href="{% url 'index' %}"><i class="fa fa-home" aria-hidden="true"></i></a>

    <!-- Links -->
    <ul class="navbar-nav">

      {% if request.user.is_authenticated %}
      <li class="nav-item pdr pdl">


        <a class="nav-link" href="{% url 'add' %}"><i class="fa fa-plus" aria-hidden="true"> Add Student</i></a>
      </li> {% endif %}
      <li class="nav-link active muli"><b>Student Grading System</b></li>

      <li class="nav-item pdr pdl">
        <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-phone-square" aria-hidden="true"> Contact Us</i>
        </a>
      </li>
      <li class="nav-item pd">
        {% if request.user.is_authenticated %}
        <a class="nav-link" href="{% url 'account_logout' %}"><i class="fa fa-sign-out"
            aria-hidden="true"> Logout</i></a>
        {% else %}
        <a class="nav-link" href="{% url 'account_login' %}"><i class="fa fa-sign-out" aria-hidden="true"> Login</i></a>
        {% endif %}
      </li>

    </ul>
  </nav>


  {% block content %}

  {% endblock %}
</body>

</html>