{% extends 'base.html'%}
{% load static %}
{% load bootstrap4 %}
{% block content %}
{% csrf_token %}

<!-- Student List Start -->
<div class=" row justify-content-start mar mob_pad" style="width: 100%;">
  <div class="col-lg-6">
    <div class="scrolled muli width_400">
      <table class="table table-striped table-hover pad js-serial">
        <thead class="bg_green">
          <tr class="head-text">
            <th class="col-lg-1" style="width:110px;">Photo</th>
            <th class="col-lg-3">Student List</th>
            <th class="col-lg-2 pr_25">Action</th>
          </tr>
        </thead>
        {% for i in infolist %}
        <tbody class="table-bordered ">
          <tr>
            <td>
              <div style="height:60px;">
                {% if i.image %}
                <img class="card-img-top" src="{{ i.image.url }}" alt="Card image" style="height:60px; width: 60px;">
                {% else %}
                <img class="card-img-top" src="{% static 'images/dummyprofile.png' %}" alt="Card image">
                {% endif %}
              </div>
            </td>
            <td>
              <a href="{% url 'student-detail' i.pk %}"> <b class="list-name muli text-dark">{{ i.name_text }}</b></a>
            </td>

            <td class="d-flex justify-content-center pr_delete">
              <a class="btn"
                href="{% url 'delete' i.pk %}"><i class="fa fa-trash" style="font-size:32px; color: crimson; height: 44px;"></i></a>
            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>

    </div>
    <!--Pagenation-->
    {% if is_paginated %}
    <ul class="pagination d-flex justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"
          style="background-color:#195637; color:white;">&laquo;</a></li>
      {% else %}
      <li class="disabled"><span class="page-link" style="background-color:#195637; color:white;">&laquo;</span></li>
      {% endif %}
      {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
      <li class="active"><span class="page-link" style="background-color:#195637; color:white;">{{ i }} <span
            class="sr-only">(current)</span></span></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}"
          style="background-color:#195637; color:white;">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"
          style="background-color:#195637; color:white;">&raquo;</a></li>
      {% else %}
      <li class="disabled"><span class="page-link" style="background-color:#195637; color:white;">&raquo;</span></li>
      {% endif %}
    </ul>
    {% endif %}
    <!--End Pagenation-->

  </div>
  <div class="col-1 align-self-center"><a href="#"> <img src="{% static 'images\logoblank.png' %}" alt="scroll down"
        class="scroll"></a>

  </div>
  <div class="col-lg-5 col-sm-12 col-md-12 justify-content-end">
    <div class="muli width_415 width_768">
      <h3 class=" hd"><b>HOW TO USE</b></h3>
      <ul><b>
          <li>Add a new student</li>
          <li>Input all their details</li>
          <li>Add marks for student by clicking the name in list</li>
          <li>Input marks according to terminal exam</li>
          <li>Save</li>
          <li>After all 3 terms marks are inputted, Generate Final Report</li>
          <li>View Final Report</li>
          <li>Generate PDF</li>
        </b>
      </ul>
      <h3 class="hd"><b>WHAT IT CAN DO</b></h3>
      <ul><b>
          <li>Add and update student details</li>
          <li>Add, update and calculate student marks</li>
          <li>Generate marksheet of student result</li>
        </b>
      </ul>
      <div>
        <h3 class="hd"><b>SUPPORTED BY</b></h3>
        <b>
          <marquee behavior="sliding" direction="left">Ontreat Services Pvt. Ltd.
            <br>
            Nayabazar, Kathmandu
            <br>
            Website:<a href="http://www.ontreat.com"> www.ontreat.com</a>
          </marquee>
        </b>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-success muli plr_0" id="alert">
  <h3 class="text-center easy_headfont"><b>A BIT ABOUT THE SYSTEM</b></h3>
  <p class="text-justify easy_parafont"><b>
      Grading in education is the process of applying standardized measurements of varying levels of achievement in a
      course.
      Grades can be assigned as letters (for example A through F), as a range (for example 1 to 6), as a percentage of a
      total
      number of questions answered correctly, or as a number out of a possible total (for example out of 20 or 100).
      The final grading is done by aggregating 10% from 1st terminal and 2nd terminal result and 80% from 3rd terminal
      result.
    </b> </p>
</div>
<div class="row justify-content-center muli font-weight-bold mtb_80 plr_0">
  <div class="col-lg-4 col-md-6 text-center mr_0 left_pos">
    <img src="{% static 'images/easypic.png' %}" alt="easy" class="easy_size">
    <h4 class="pt_10 pb_10 easy_headfont"><b>Easy to use</b></h4>
    <p class="easy_parafont">Grading system is simple and is easy to use. One can easily use its all functions by following "How to use".</p>
  </div>
  <div class="col-lg-4 col-md-6 text-center left_pos">
    <img src="{% static 'images/note.png' %}" alt="easy" class="easy_size">
    <h4 class="pt_10 pb_10 easy_headfont"><b>Gets your work done</b></h4>
    <p class="easy_parafont">Records student detail, marks, calculates result and generates report which are required for distribution.</p>
  </div>
</div>

<!--Carausal-->
<div class="display_carausal">
  {% include 'D:\djangoproject\Project\student\studentinfo\templates\multiplecarausal.html' %}
</div> <br>
<div class="footer bg_green footer_css text-center easy_parafont" id="footer">
  <p class="muli pt_10">&copy; Student Grading System - 2019 All Rights Reserved</p>
</div>

<script>
  function searchOpen() {
    var search = $('#txtSearch').val()
    var data = {
      search: search
    };
    $.ajax({
      url: '/search.json',
      data: data,
      dataType: 'jsonp',
      jsonp: 'callback',
      jsonpCallback: 'searchResult'
    });
  }
  function searchResult(data) {
    $("#txtSearch").autocomplete({
      source: data
    });
  }

  function addRowCount(tableAttr) {
    $(tableAttr).each(function () {
      $('th:first-child, thead td:first-child', this).each(function () {
        var tag = $(this).prop('tagName');
        $(this).before('<' + tag + '>S.N.</' + tag + '>');
      });
      $('td:first-child', this).each(function (i) {
        $(this).before('<td><b>' + (i + 1) + '</b></td>');
      });
    });
  }

  // Call the function with table attr on which you want automatic serial number
  addRowCount('.js-serial');

  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

{% endblock %}