{% extends 'base.html'%}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}
<div class="text-center">
    <h1 class="mar muli"><b>INPUT MARKS</b></h1>

</div>
<div class="container mar">

    <form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="row">
                <div class="col-6">
                    {{ form.terminal|as_crispy_field }}</div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form.english|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.science|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form.maths|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.nepali|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form.computer|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.social|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form.account|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.eph|as_crispy_field }}
                </div>
            </div>

        {% bootstrap_button "Save" button_type="submit" button_class="thead_bg btn-lg back-btn" %}
    </form>


    <!-- <a href="{{request.META.HTTP_REFERER}}">
        <button class="btn btn-dark btn-md back-btn"><i class="fa fa-arrow-left" aria-hidden="true"> Go back</i>
        </button>
    </a> -->
</div>
{% endblock %}